<%= form_for([@project, @script],html: {id:"myform"}) do |f| %>
  <% if @script.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@script.errors.count, "error") %> prohibited this script from being saved:</h2>

      <ul>
        <% @script.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <span class="help-inline"><%= t('scripts.help.name') %></span>
  </div>
  <div class="field">
    <%= f.label :filename %>
    <%= f.text_field :filename %>
    <span class="help-inline"><%= t('scripts.help.filename') %></span>
  </div>
  <div class="field">
    <%= f.label :description %>
    <span class="help-block"><%= t('scripts.help.description') %></span>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :params %>
    <%= f.text_area :params, style: "width:250px;height:100px" %>
    <span class="help-block"><%= simple_format t('scripts.help.params') %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
