<h1>Listing scripts</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scripts.each do |script| %>
  <tr>
    <td><%= script.project_id %></td>
    <td><%= script.name %></td>
    <td><%= link_to 'Show', script %></td>
    <td><%= link_to 'Edit', edit_project_script_path(script) %></td>
    <td><%= link_to 'Destroy', script, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Script', new_project_script_path %>
