<% provide(:title, @script.name)%>
<p><%= md @script.description%></p>
<div class="btn-group">
  <a href="#" id="rerun" class="btn btn-primary"><i class="icon-play"></i> <%= t 'scripts.rerun' %></a>
  <% if can? :update, @script %>
 <%=link_to edit_project_script_path(@project,@script), class:"btn" do %>
 <i class="icon-pencil"></i>
    <% end %>
  <% end %>
  <% if can? :destroy, @script %>
 <%=link_to project_script_path(@project,@script), method: :delete, data: {confirm: t('misc.sure?')}, class:"btn" do %>
 <i class="icon-trash"></i>
    <% end %>
  <% end %>
</div>

<h3><%= t 'scripts.params' %></h3>
<form enctype="multipart/form-data" id="run-form" method="post" action="<%= project_script_exec_path(@project,@script) %>">
<% @script.getParams.each do |name,type| %>
 <label for="param_<%=name%>"><%=name%></label>
 <% if type=='file' %>
 <input type="file" class="param_<%=type%> param" id="param_<%=name%>" name="<%=name%>"/>
 <% else %>
 <input type="text" class="param_<%=type%> param" id="param_<%=name%>" name="<%=name%>"/>
 <% end %>
<% end %>
<input type="submit" />
</form>

<h3><%= t 'scripts.output' %></h3>
<ul class="nav nav-tabs" id="nav-run">
  <li class="active">
    <a href="#" id="nav-raw"><%= t 'scripts.run_raw' %></a>
  </li>
  <li>
    <a href="#" id="nav-md"><%= t 'scripts.run_md' %></a>
  </li>
</ul>
<pre id="run-raw">running...</pre>
<div id="run-md">running...</div>
<dl>
  <dd><%=t('scripts.exec_time')%>:</dd>
  <dt id="run_time"></dt>
</dl>
<script type="text/javascript">
  run=function(){
    var form=$("#run-form").ajaxForm(function(){
        });
/*    var fdata=new FormData($('form')[0]);
/*    $('.param').each(function(){
        fdata.append($(this).attr('name'),$(this).val());
        });*
    console.log(fdata);
    $.ajax({
      url:Routes.project_script_exec_path(<%=@project.id%>,<%=@script.id%>),
      data: fdata,
      cache: false,
      contentType: false,
      processData: false,
      type: 'POST',
      success: function(data){
        $('#run-raw').text(data.data);
        $('#run-md').html(data.markdown);
        $('#run_time').text(data.time + ' s');
      }
    });*/
  };
$(function(){
    run();
    $('#rerun').click(function(){
      $('#run-raw').text("running...");
      $('#run-md').html("<p>running...</p>");
      $('#run_time').text('');
      run()

      });
    $('#nav-md').click(function(){
      $('#nav-run').children().removeClass('active');
      $('#nav-md').parent().addClass('active');
      $('#run-raw').hide();
      $('#run-md').show();
      });
    $('#nav-raw').click(function(){
      $('#nav-run').children().removeClass('active');
      $('#nav-raw').parent().addClass('active');
      $('#run-md').hide();
      $('#run-raw').show();
      });
});


</script>
