<%= form_for(@language) do |f| %>
  <% if @language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% @language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <span class="help-inline"><%= t('languages.help.name') %></span>
  </div>
  <div class="field">
    <%= f.label :bin %>
    <%= f.text_field :bin %>
    <span class="help-inline"><%= t('languages.help.bin') %></span>
  </div>
  <div class="field">
    <%= f.label :editor_config %>
    <span class="help-block"><%= t('languages.help.editor_config') %></span>
    <%= f.text_area :editor_config %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn"%>
  </div>
<% end %>
