<% provide(:title, t('languages.all'))%>

<div class="span12">
  <%= link_to t('languages.new'), new_language_path, class: 'btn btn-primary' if can? :create, Language%>
  <% @languages.each do |language| %>
  <hr />
    <div>
      <h3><%= link_to language.name, edit_language_path(language) if can? :update, language %><%= language.name unless can? :update, language %></h3>
      <small class="muted"><%= t 'language.bin'%>: <%= language.bin %></small>
      <div class="btn-group">
        <% if can? :update, language %>
          <%=link_to edit_language_path(language), class:"btn" do %>
            <i class="icon-pencil"></i>
          <% end %>
        <% end %>
        <% if can? :destroy, language %>
          <%=link_to language_path(language), method: :delete, data: {confirm: t('misc.sure?')}, class:"btn" do %>
            <i class="icon-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
