<% provide(:title, t('projects.my'))%>
<div class="span12">
  <%= link_to t('projects.new'), new_project_path, class: 'btn btn-primary' if can? :create, Project%>
  <% @projects.each do |project| %>
  <hr />
    <div>
      <h3><%= link_to project.name, project %></h3>
      <p><%= project.description %></p>
      <small class="muted"><%= t 'projects.language'%>: <%= project.language.name %></small>
      <div class="btn-group">
        <%=link_to project_path(project), class:"btn" do %>
          <i class="icon-eye-open"></i>
        <% end %>
        <% if can? :update, project %>
          <%=link_to edit_project_path(project), class:"btn" do %>
            <i class="icon-pencil"></i>
          <% end %>
        <% end %>
        <% if can? :read, project %>
          <%=link_to project_members_path(project), class:"btn" do %>
            <i class="icon-user"></i>
          <% end %>
        <% end %>
        <% if can? :destroy, project %>
          <%=link_to project_path(project), method: :delete, data: {confirm: t('misc.sure?')}, class:"btn" do %>
            <i class="icon-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
