<div class="center hero-unit">

  <img src="assets/scriptomat_logo.png" style="float:right"/>
  <h1><%= t 'home.title' %></h1>
  <h2><%= t 'home.subtitle' %></h2>
  <p><%= t 'home.description' %></p>
  <% if current_user.nil? %>
    <%= link_to t('home.sign_up'), new_user_registration_path, class: "btn btn-large btn-primary" %>  
    <%= link_to t('home.sign_in'), new_user_session_path, class: "btn btn-large btn-primary" %>  
  <% else %>
    <%= link_to t('projects.my'), projects_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
