<%= form_for([@project,@member]) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @member.user_id.nil? %>
    <div class="field">
      <%= f.label :user_id %>
      <%= select(:member,:user_id,User.all.collect {|l| [getName(l), l.id]}) %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :user_id %>
      <%= getName(@member.user) %>
    </div>
  <% end %>

  <% if can? :change_rights, @member %>
    <div class="field">
      <%= f.label :is_admin %>
      <%= f.check_box :is_admin %>
    </div>
    <div class="field">
      <%= f.label :can_create %>
      <%= f.check_box :can_create %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vars %>
    <%= f.text_field :vars %>
    <span class="help-block"><%= simple_format t('members.vars') %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
