<% provide(:title, t('members.all'))%>
<% if(can? :create, (@members || Member)) %>
  <div class="btn-group">
    <%= link_to(new_project_member_path(@project), class: 'btn btn-primary') do %>
      <i class="icon-file"></i>
      <%=t('members.new')%>
    <% end %>
  </div>
<% end %>


<% @members.each do |member| %>
  <hr />
  <div>
    <h3><%= getName(member.user) %></h3>
    <dl>
      <dt><%=t('members.is_admin') %></dt>
      <dd><%= 
      if member.is_admin?  
        t('members.admin_yes')  
      else  
        t('members.admin_no')  
      end
      %></dd>
      <dt><%=t('members.can_create') %></dt>
      <dd><%= 
      if member.can_create?  
        t('members.create_yes')  
      else  
        t('members.create_no')  
      end
      %></dd>
      <% if can? :view_vars, member %>
        <dt><%=t('members.user_vars')%></dt>
        <dd><%= member.vars %></dd>
      <% end %>
    </dl>
    <div class="btn-group">
      <% if can? :update, member %>
        <%=link_to edit_project_member_path(@project,member), class:"btn" do %>
          <i class="icon-pencil"></i>
        <% end %>
      <% end %>
      <% if can? :destroy, member %>
        <%=link_to project_member_path(@project,member), method: :delete, data: {confirm: t('misc.sure?')}, class:"btn" do %>
          <i class="icon-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
