<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @member.project_id %>
</p>

<p>
  <b>User:</b>
  <%= @member.user_id %>
</p>

<p>
  <b>Is admin:</b>
  <%= @member.is_admin %>
</p>

<p>
  <b>Can create:</b>
  <%= @member.can_create %>
</p>
